.converter {
    width: 400px;
    margin: 0 auto;
    padding: 12px;
    border-radius: 8px;
    background-color:#d3d2d2;
}

.converter input[type="number"] {
    width: 94%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;   
}

.converter select {
    width: 100%;
    padding: 10px;
    font-size: 20px;  
}

.converter button {
    width: 100%;
    padding: 10px;
    background-color:rgb(38, 0, 255) ;
    color: white;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}
